/*------------------
fonts:

colors:

--------------------*/

/*----------------------
      Global Style
----------------------*/
*  {
  box-sizing: border-box;
}
html {
  background: linear-gradient(to bottom right, rgb(13, 132, 136), rgba(166, 199, 241, 0.849));
  color: #fff;

}

body > header, main, footer {
  margin: 0px auto;
  width: 1200px;
  text-align: center;
  
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: #fff;
  text-shadow:
		-2px -2px 0 #f00,
		2px -2px 0 #f00,
		-2px 2px 0 #f00,
		2px 2px 0 #f00 
  
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #f00;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: #f00;
}

p {
  font-size: 1.5rem;
  width: 600px;
  margin: 0 auto;
}

/*--------------------
      Nav Bar
----------------------*/
.sidenav {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(187, 187, 190), rgb(153, 153, 160));
}
/*----------------------
    Header & Footer
-----------------------*/
header {
  margin: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(187, 187, 190), rgb(153, 153, 160));
}

/*---------------------
        Form
----------------------*/
#petForm {
  
}

#form-div {
  background: linear-gradient(to bottom right, rgb(153, 153, 160), rgb(187, 187, 190), rgb(153, 153, 160));
  width: 600px;
  padding: 30px;
  border-radius: 30px;
  margin: 30px auto;
}

/*---------------------
      Pet Cards
----------------------*/
article {
  float:left;
  width: 30%;
  height: 700px;
  border: double 6px white;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(153, 153, 160), rgb(187, 187, 190), rgb(153, 153, 160));
  margin: 10px;
  padding: 6px;
}